* {
  box-sizing: border-box;
}

img {
  border-radius: 5%;
}

body {
    background-color: #d6e2f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    font-family: "Lato", sans-serif;
}

.container {
    background-color: white;
    border-radius: 5%;
    padding: 10px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 18px;
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: center;
}

p {
  font-size: 15px;
  color: gray;
  margin: auto;
  width: 90%;
  padding: 10px;
}

footer {
  bottom: 0;
  margin-top: auto;
  padding: 20px 0;
  width: 100%;
  justify-content: center;
}
